<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" (click)="navigateTo('/')" style="cursor: pointer;">
      <i class="fas fa-briefcase me-2"></i>
      Placement Management System
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/student/dashboard')">Dashboard</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn(); else loggedInMenu">
          <li class="nav-item">
            <a class="btn btn-outline-light me-2" (click)="navigateTo('/login')">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" (click)="navigateTo('/register')">Register</a>
          </li>
        </ng-container>
        
        <ng-template #loggedInMenu>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="fas fa-user me-1"></i> User
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="navigateTo('/student/dashboard')">Dashboard</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav> -->